<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Comment</title>
</head>
<body>

{%if post.typ == "image"%}
    <img src="http:localhost:8000/media/{{post.pic}}">
{% elif post.typ == "video"%}
    <video controls>
        <source src="http://localhost:8000/media/{{post.pic}}" type="video/mp4">
    </video>


{%endif%}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

      <input type="text" name="comment" maxlength="100" required="" id="id_comment" placeholder="Write your reaction">
      <button type="submit">Post</button>
</form>

</body>
</html>